#clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fcca66;
}

.child {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #48b382;
    position: absolute;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}

.digitalWatch {
    width: 120px;
    height: 30px;
    position: absolute;
    text-align: center;
    line-height: 30px;
    font-size: 35px;
    color: black;
}
.hour {
    width: 9px;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    background-color: black;


}
.minutes {
    width: 5px;
    height: 120px;
    border-radius: 10px;
    position: absolute;
    background-color: black;

}

.seconds {
    width: 2px;
    height: 145px;
    border-radius: 10px;
    position: absolute;
    background-color: black;

}