button {
    margin: 5px;
}

svg {
    margin: 5px;
    font-size: 20px;
}

/*стили для часов DOM*/

.clock {
    margin: 5px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fcca66;
}

.child {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #48b382;
    position: absolute;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}


.hour {
    width: 9px;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    background-color: black;


}

.minute {
    width: 5px;
    height: 120px;
    border-radius: 10px;
    position: absolute;
    background-color: black;

}

.second {
    width: 2px;
    height: 145px;
    border-radius: 10px;
    position: absolute;
    background-color: black;

}